## Basics of Python

### Ways to assign value

In [4]:
# There are four different datatypes
a = 10         # Integers
b = "Name"     # String
c = 10.5       # Float
d = 80000      # Double

# printing the values
print(a)
print(b)
print(c)
print(d)

# multiple assignmwnt
x,y,z = 10,20,30
print(x)
print(y)
print(z)

10
Name
10.5
80000
10
20
30

In [2]:
# The ways of taking up of input
print("Enter a number")
print('This can also be written in this way')
age = input()

Enter a number
This can also be written in this way
5

In [3]:
Name = "John"
age  = 35
print("The person named %s has an age %i"%(Name,age)) # the place where you put %s- Name will be replaced, similarly for %i

The person named John has an age 35

In [5]:
name = "Ashok"
name1 = "Kumar"
print(name+ " "+name1) # both the words will be combined with a space

Ashok Kumar

### String

In [7]:
# String
str1 = "Findme"
str1.find("me") # for finding me in which location

4

In [8]:
str2 = "Replaced"
str2.replace("ed","e")

'Replace'

In [9]:
str3 = "word1,word2,word3"
str3.split(",")

['word1', 'word2', 'word3']

In [10]:
str4 = "edureka"
str4.count("e")

2

In [12]:
str5 = str4.upper()
str5

'EDUREKA'

In [14]:
str6 = str5.lower()
str6

'edureka'

### Tuple

In [23]:
myGroup = ('a','b','c','d')
print(myGroup)
myGroup+=('e',)
myGroup

('a', 'b', 'c', 'd')

('a', 'b', 'c', 'd', 'e')

In [24]:
myGroup+=('d',)
myGroup

('a', 'b', 'c', 'd', 'e', 'd')

In [28]:
print(myGroup[1:])
print(myGroup[:-1])
print(myGroup[2:5])
print(myGroup[1:6])

('b', 'c', 'd', 'e', 'd')
('a', 'b', 'c', 'd', 'e')
('c', 'd', 'e')
('b', 'c', 'd', 'e', 'd')

### List

In [77]:
myList = [2,"hello",3.14]
myList

[2, 'hello', 3.14]

In [78]:
myList += ["extra"]
myList

[2, 'hello', 3.14, 'extra']

In [79]:
myList.extend(['b','e'])
myList #

[2, 'hello', 3.14, 'extra', 'b', 'e']

In [80]:
myList.append(56)
myList

[2, 'hello', 3.14, 'extra', 'b', 'e', 56]

In [81]:
myList.insert(1,"insert")
myList

[2, 'insert', 'hello', 3.14, 'extra', 'b', 'e', 56]

In [82]:
myList.remove("hello")
myList

[2, 'insert', 3.14, 'extra', 'b', 'e', 56]

### Dictionary

In [83]:
myDict = {1:"john", 2:"Kumar"}
myDict

{1: 'john', 2: 'Kumar'}

In [84]:
myDict = {1:"john",2:"kumar",3:[2,"rose"],"iam":"super"}

In [86]:
myDict["iam"]

'super'

In [88]:
myDict[2]

'kumar'

In [90]:
myDict.values()

dict_values(['john', 'kumar', [2, 'rose'], 'super'])

In [92]:
myDict.update({4:"hoi"})
myDict

{1: 'john', 2: 'kumar', 3: [2, 'rose'], 'iam': 'super', 4: 'hoi'}


### if else

In [8]:
# if-else
print("Enter the first number")
a = input()
print("Enter the second number")
b = input()
if(a>b):
    print("The first is greater %s than the second %s"%(a,b))
else:
    print("The first is smaller %s than the first %s"%(a,b))

Enter the first number
8
Enter the second number
2
The first is greater 8 than the second 2

### Nested if else

In [12]:
# nested if-else
print("Enter the first number")
a = input()
print("Enter the second number")
b = input()
print("Enter the third number")
c = input()
if(a>b and a>c):
    print("The first is greater %s than the second %s and third %s"%(a,b,c))
elif (b>a and b>c):
    print("second %s is greater than %s and %s"%(b,a,c))
else:
    print("Third %s is greater than %s and %s"%(c,a,b))

Enter the first number
1
Enter the second number
2
Enter the third number
3
Third 3 is greater than 1 and 2

### for loop

In [13]:
myList = ["apple","banana","mangoes"]
for x in myList:
    print(x)

apple
banana
mangoes

In [14]:
# printing 1 to 10 
for x in range(11):
    print(x)

0
1
2
3
4
5
6
7
8
9
10

In [16]:
# all the even number between 0 to 20
for x in range(0,21,2): # first one starting point, second is ending point, third is the increment level
    print(x)

0
2
4
6
8
10
12
14
16
18
20

In [18]:
for x in range(21):
    if(x%2 == 0):
        print(x)

0
2
4
6
8
10
12
14
16
18
20

### while loop

In [20]:
# 1 to 10
i=0
while i<=10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10

In [22]:
i = 0
while i<=10:
    if(i!=0):
        print(i)
    i+=2

2
4
6
8
10

### Break

In [23]:
# break
i=0
while i<=10:
    if(i==6):
        break
    print(i)
    i+=1

0
1
2
3
4
5

In [25]:
for i in range(10):
    if(i!=0):
        if(i == 6):
            break
        print(i)
        i+=1

1
2
3
4
5

### Functions in Python

In [32]:
def myfunction():
    print("first function")

In [28]:
def add(a,b):
    sum = a+b
    print(sum)

In [34]:
# calling the function
myfunction()
add(3,4)

first function
7

In [35]:
def fun(a,b):
    return a+b

In [36]:
fun(8,12)

20

In [37]:
# Calling a function
# - Pass by value
# - Pass by Reference